<% include partials/header %>
<div class="container">
<h3> Recent dota2 matches</h3>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<table class="table table-striped">
<thead>
    <tr>
      <th>
          <a href = "/matches/sort/byId">Match Id</a>
          </th>
      <th>
          <a href = "/matches/sort/byDuration">Duration</a>
          </th>
      <th>
          <a href = "/matches/sort/byTower">Tower State</a>
          </th>
      <th>                    
          <a href = "/matches/sort/byBarrack">Barrack State</a>
          </th>
      <th>                    
          <a href = "/matches/sort/byWin">Radiant Win</a>
      </th>
    </tr>
</thead>

  <tbody>
    <% for (var i = 0; i < matches.length; i++) { %>
    <tr>
      <th scopr = 'row'>
        <a href = "/matches/<%= matches[i].match_id %>"> <%= matches[i].match_id %> </a>
      </th>
      <td><%= Math.floor(matches[i].duration / 60) %> m 
       <%= Math.floor(matches[i].duration % 60) %> s </td>
       <td>
           <%=matches[i].tower_status_radiant %> - 
           <%=matches[i].tower_status_dire %>
       </td>
       <td>
           <%=matches[i].barracks_status_radiant %> - 
           <%=matches[i].barracks_status_dire %>
       </td>
        <td><%= matches[i].radiant_win %></td>
    </tr>
    <% } %>
  </tbody>

</table>
</div>
</div>



<% include partials/footer %>
