<% include partials/header %>
 <div class="container">
<h3 style = 'text-align: center' > Player Stats</h3>    
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<table class="table table-striped">
   <thead>
   <tr>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/account_id"> Account Id
         </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/hero_id">Hero Name
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/player_slot">Player Slot
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/gold">Gold
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/gold_per_min">Gold Per Minute
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/xp_per_min">Exp Per Minute
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/kills">Kills
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/assists">Assists
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/deaths">Deaths
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/hero_damage">Hero Damage
      </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByPlayers/level">Level
      </a></th>
      <!--<th>Exp Per Minute</th>-->
     
   </tr>
   </thead>

   <tbody>
   <% for (var i = 0; i < players.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
    <tr>
      <th scope = 'row'>
          <a href = "/purchases/<%= players[i].match_id %>_<%= players[i].player_slot %>"> 
          <%= players[i].account_id %> </a>
          </th>
      <td><%= hero_name[players[i].hero_id - 1]['localized_name'] %></td>
      <td><%= players[i].player_slot %></td>
      <td><%= players[i].gold %></td>
      <td><%= players[i].gold_per_min %></td>
      <td><%= players[i].xp_per_min %></td>
      <td><%= players[i].kills %></td>
      <td><%= players[i].assists %></td>
      <td><%= players[i].deaths %></td>
      <td><%= players[i].hero_damage %></td>
      <td><%= players[i].level %></td>


    </tr>    
   <% } %>
   </tbody>
</table>
</div>
    
    
    
<h3 style = 'text-align: center;'> Team Fight Stats</h3>         

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<table class="table table-striped">
<thead>
   <tr>
      <th>Match Id</th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByTeamfights/start_time">Start Time
         </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByTeamfights/end_time">End Time
         </a></th>
      <th><a href = "/matches_sorted/<%= players[0].match_id %>/sortByTeamfights/death">Death
         </a></th>
      <!--<th>Start Time</th>-->
      <!--<th>End Time</th>-->
      <!--<th>Death</th>-->
   </tr>
</thead>

<tbody>
   <% for (var i = 0; i < teamfights.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
    <tr>
    <th scope = 'row'>
      <%= teamfights[i].match_id %>
      </th>
      <td><%= Math.floor(teamfights[i].start_time / 60) %> m 
       <%= Math.floor(teamfights[i].start_time % 60) %> s 
       </td>
      <td><%= Math.floor(teamfights[i].end_time/ 60) %> m 
       <%= Math.floor(teamfights[i].end_time % 60) %> s 
       </td>
      <td>
          <%= teamfights[i].death %>
      </td>
 
    </tr>    
   <% } %>
</tbody>
   
</table>

</div>


<div class="well">
    <div class="text-right">
            <a class="btn btn-success" href="/matches/<%= teamfights[0].match_id %>/comments/new">Add New Comment</a>
    </div>
    <hr>
    <% comments.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author %></strong>
                <!--<span class="pull-right">10 days ago</span>-->
                <p>
                    <%= comment.content %> 
                </p>
                <form style="display: inline" class="pull-right" action="/matches/<%=comment.match_id%>/comments/delete/<%=comment.id%>?_method=DELETE" method="GET">
                    <button class="btn btn-xs btn-danger">DELETE</button>
                    <a href="/matches/<%=comment.match_id%>/comments/<%=comment.id%>/edit" class="btn btn-xs btn-info">EDIT</a>
                </form>
            </div>
        </div>
    <% }) %>
</div>


</div>
<% include partials/footer %>